<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} | Xmind2TestCase Preview</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='css/pure-min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='css/custom.css') }}">

    <style>
        .qztj{
            display:none;
        }
    </style>

    <script>
    <!--显示前置条件-->
    var status = '1';
    function del(){
        document.querySelectorAll('.qztj').forEach(function(dom){
        console.log(status)
            if(status === '1'){
                dom.style.display = 'table-cell';
                document.getElementById("hidden-per-btn").innerHTML = "[隐藏前置条件]";
            } else {
                dom.style.display = 'none';
                document.getElementById("hidden-per-btn").innerHTML = "[显示前置条件]";
            }
       })
       if(status === '1'){
        status = '0'
       } else{
        status = '1'
       }
    }

    <!--鼠标悬停在警示文字上-->
    function showPic(e,sUrl){
        var x,y;
        x = e.clientX;
        y = e.clientY;
        document.getElementById("Layer1").style.left = x+2+'px';
        document.getElementById("Layer1").style.top = y+2+'px';
        document.getElementById("Layer1").innerHTML = "<img border='0' src=\"" + sUrl + "\">";
        document.getElementById("Layer1").style.display = "";
    }
    function hiddenPic(){
        document.getElementById("Layer1").innerHTML = "";
        document.getElementById("Layer1").style.display = "none";
    }
    </script>


</head>
<body>
<div class="header" style="margin-bottom: -20px">
    <h1>{{ name }} - 预览</h1>
    <h2>用例集: {{ suite_count }} / 测试用例: {{ suite | length }}
        / <a href="{{ url_for('download_zentao_file',filename= name, timestamp= timestamp) }}">禅道 CSV</a>
        / <a href="{{ url_for('download_testlink_file',filename= name, timestamp= timestamp) }}">TestLink XML</a>
        / <a href="{{ url_for('download_excel_file',filename= name, timestamp= timestamp) }}">Excel</a>
        <!--/ <a href="{{ url_for('download_iwork_file',filename= name, timestamp= timestamp) }}">iWork CSV</a>-->
        / <a href="{{ url_for('download_iwork_excel_file',filename= name, timestamp= timestamp) }}">iWork</a>
        / <a href="{{ url_for('index') }}">返回</a></h2>
        <!--<span style="color:red; font-size:14px; display:block; float:none;">如果步骤为空的话，请确保XMind文件中<b><u>用例名称</u></b>已加上了<b><u>优先级</u></b>！</span>-->
        <div id="Layer1" style="display: none; position: absolute; z-index: 100;">
        </div>
        <span onmouseover="showPic(event,'../static/XMind_Case.png');" onmouseout = "hiddenPic()" style="color:red; font-size:14px; float:none;">如果步骤为空的话，请确保XMind文件中<b><u>用例名称</u></b>已加上了<b><u>优先级</u></b>！</span>
        <span id="hidden-per-btn" onclick="del()" style="font-size:12px; display:block; float:right; clear:both">[显示前置条件]</span>

</div>
<table class="pure-table tests-table">
    <thead>
    <tr>
        <th width="5%">#</th>
        <th width="10%">模块</th>
        <th>用例标题</th>
        <th width="200px">属性</th>
        <th class="qztj">前置条件</th>
        <th width="23%">步骤</th>
    </tr>
    </thead>
    <tbody>
    {% for test in suite %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ test.suite }}</td>
            <td {% if test.name|length>100 %}class="long-name" {% endif %}>{{ test.name }}
                {% if test.name|length>100 %}
                    <span class="long-name-info">Warn: test name might be too long: {{ test.name|length }}!</span>
                {% endif %}
            </td>
            <td>

                <!--原优先级-->
                <div class="tag-success tooltip">
                    优先级 {{ test.importance }}
                    <span class="tooltiptext">优先级 {{ test.importance }} </span>
                </div>

                <!--区分颜色的优先级-->
                <!--
                <div class="tag-success tooltip"
                     {% if test.importance == 1 %} style="background: #ca3c3c;"
                     {% elif test.importance == 2 %} style="background: #FFD700;"
                     {% elif test.importance == 3 %} style="background: #6495ED;"
                     {% endif %}>
                优先级 {{ test.importance }}
                    <span class="tooltiptext">优先级 {{ test.importance }} </span>
                </div>
                -->
                {% if test.preconditions %}
                    <div class="pure-button tag-info tooltip">前置条件
                        <p class="tooltiptext">
                            <b>前置条件:</b> <br>
                            {{ test.preconditions | replace('\n','<br>') |safe }}
                        </p></div>
                {% endif %}
                {% if test.summary %}
                    <div class="pure-button tag-warn tooltip">概要
                        <p class="tooltiptext">
                            <b>概要:</b> <br>
                            {{ test.summary | replace('\n','<br>') |safe }}
                        </p></div>
                {% endif %}

            <td class="qztj">
                <!--前置条件-->
                {{ test.preconditions | replace('\n','<br>') |safe }}

            </td>

            <td>
                {% if test.steps %}
                    <ol>
                        {% for step in test.steps %}
                            <li>{{ step.actions }}
                                {% if step.expectedresults %}
                                    <ul>
                                        <!--<li>{{ step.expectedresults }}</li>-->
                                        {% for i in step.expectedresults.split("\r\n") %}
                                            {% if i != "" %}
                                            <li>{{  i }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="footer">
    <a href="{{ url_for('download_template_file') }}" target="_blank">下载模板</a> |
    <a href="{{ url_for('static', filename='guide/index.html') }}" target="_blank">用户指南</a> |
    <!--<a href="https://github.com/zhuifengshen/xmind2testcase/issues/new" target="_blank">反馈问题</a> |-->
    <a href="mailto:tomoya_chen@163.com?subject=XMind2TestCase反馈问题&body=">反馈问题</a> |
    Powered by <a href="https://github.com/zhuifengshen/xmind2testcase" target="_blank">XMind2TestCase</a>
</div>

</body>
</html>